body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #004a7c; /* สีน้ำเงินเข้ม */
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
